.container {
    background-color: aquamarine;
    width: 200px;
    height: 200px;

    border-top: 5px solid red;

    margin: auto;
    margin-top: 200px;  
    transition: backgorund-color, ;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0.5s ;
    transition-timing-function: ease-in;
    
    
    
    
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container:hover {
    background-color: brown;
    width: 500px;
    transform: scale(1,2) translate(120px)  rotate(45deg);
    
    
    
    
    
    
}