  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* css reset */
    font-size: 20px;

}


.container {
    border: 2px solid green;
    height: 120px;

    display: flex;

    position: relative;
    
}

.item {
    width: 200px;
    height: 200px;

    background-color: brown;
    border: 2px solid burlywood;
}

.two {
    position: absolute;
    left:50px;
    top:300px;
}


