body {
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;
    color:blue;
    margin:10px;
    padding: 5px;
}

header {
    background-color: orange;
    color:white;
    padding: 15px;
    text-align: center;
}

section {
    padding: 15px;
    margin: 15px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 4px 8px  rgb(red, green, blue);
}


footer {
    background-color: #444;
    color: beige;
    text-align: center;
    padding: 20px;
    display: flex;
    position: absolute;
    width: 80px;
}


article {
    background-color: white;
    padding: 20px;
    border: 1px solid green;
    border-radius: 8px;

}

ul {
    padding: 10px;
    list-style-type: georgian;

}

ul li {
    margin-bottom: 10px;
}

a {
    color: aquamarine;
    text-decoration: dashed;
}

a:hover {
    text-decoration: overline;
}