/* 
    
.parent {
    width: 800px;
    height: 800px;
    background-color: yellowgreen;

}


.child {
    width: 200px;
    height: 200px;
    background-color: indigo;
    border-radius: 50%;
    transition: transform 3s;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: 1;

    

}

.child:hover {
    transform: translate(300%);
}

@keyframes move {
  

    25% {
        transform: translateX(600px);
    }

    50% {
        transform: translate(600px);
    }


  
}




.parent {
    width:800px;
    height: 800px;
    background-color: skyblue;
}


.child {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: move;
    animation-iteration-count: infinite;
    transition: transform 3s;
}


.child:hover {
    transform: translate(100%);
}


@keyframes move {
    

   

  75% {
    transform: translate(0, 600px);
  }

  100% {
    transform: translate(0, 0);
  }

    

} */