/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#frame {
    width: 500px;
    height: 100px;

    border:5px solid black;
    background-color: seagreen;
}

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#bar {
    width: 1%;
    height: 100%;
    background-color: rgb(red, green, blue);

    padding: 5%;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    animation-name: loading;
    animation-duration: 1.2s;
    animation-timing-function: linear;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
} */

/* #loader {
    border-radius: 50%;
    background-color: seagreen;
    width: 500px;
    height: 500px;
    border-top: 5px solid white;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* 
.frame {
    width: 500px;
    height: 100px;
    border: 5px solid black;
    background-color: green;
}


.bar {
    width: 1%;
    height: 100%;
    background-color: blue;
    padding: 5%;
    animation-name: loading;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

.bar h1 {
    margin-left: 300px;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


.loader {
    border-radius: 50%;
    background-color: seagreen;
    width: 500px;
    height: 500px;
    border-top: 5px solid black;
    animation-name: spin 1.2 linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
} */


#heart {
    border-radius: 50%;

    height: 300px;
    width: 300px;

    background-color: red;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(3);
    }
}
