

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    
    
    
}

.box {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    transition-property: all;
    border: 4px solid black;
    transition-duration: 5s;
    
}
 
.box2 {
     width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    transition-property: all;
    border: 4px solid black;
    transition-duration: 2s;
    
}

.box3 {
     width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    transition-property: all;
    border: 4px solid black;
    transition-duration: 2s;
    
    
}

.box:hover {
    transform: scale(1.1) translateY(-10px) rotate(-10deg);
}

.box2:hover {
    transform: scale(1.1) translate(-10px) rotate(10deg);
}

.box3:hover {
    transform: scale(1.1)  translate(-10px) rotate(10deg);
}

