body {
    background-color: skyblue;
}

h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

h2 {
    color:blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 200px;

}

h3 {
    color:orange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

a:hover {
    background-color: black;
}

a {
    font-family: 500px;
    
    justify-content: flex end;
    color: brown;
    
}


img {
    border: 5px solid gray;
    transition: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

img:hover {
    transform: scale(1.2) translate(50px); 
    
}
