/* 

body {
    background-color: black;
    text-align: center;
    justify-content: center;
} 



 input {
    border-radius: 6px;
    width: 15%;
    height: 10%;
    font-size-adjust: 1;
    text-align: left ;

}


input[type="text"]{
    background-color: gray;
    color:red;
    border-radius: 30px;
   
    
}

input[type="email"]{
    background-color: #333;
    border-radius: 20px;
    
}

input[type="password"]{
    box-shadow: 5px 5px 7px #333;
    border-radius: 10px;
}

input[type="submit"] {
    width: 10%;
}

input:hover{
    box-shadow: 0, 0, 8px #333;
}  */




body {
    background-color: aqua;
    font-size: 40px;
}

#container {
    border: 5px solid red;
    height:1000px;

    display:flex;
    flex-direction: row;

    flex-wrap: nowrap;
    gap: 5px;
}


.box {
    background-color: seagreen;
    border:2px solid black;

    width: 150px;
    height: 200px;
    flex-grow: 1;
}

