.container {
    margin: auto;

    width: 350px;
    height: 300px;
    border: 5px solid gray;

    background-image: url("download.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    background-attachment: scroll;

}


body {
    height: 200vh;
    background-image: url("download.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



